body {
    background-color: #2ECC71;
    font-family: 'Courier New', Courier, monospace;
    color: #2c3e50;
}


.parentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3498DB;
    max-height: 40px;
}

.logoContainer {
    width: 25%;
}

.tabMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parent {
    width: 50%;
    position: relative;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    width: 25%;
}

.menuItem {
    padding: 5px 20px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}


.menuItem:hover {
    opacity: .7;
}

.slider {
    height: 5px;
    width: 0px;
    background-color: #12059d;
    transition: all .3s ease;
    border-radius: 2px;
}

.showingPage {
    text-align: center;
    margin-top: 200px;
}

.logoutBtn {
    background-color: #12059d;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
}

.logoutBtn:hover {
    background-color: transparent;
    border: 1px solid #12059d;
}

.copyRight {
    text-align: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    margin : auto;
    font-size: 12px;
}